@use "src/components/showCard";

$margin: 10rem;


.App {
  display: flex;
  flex-direction: column;
  @media (min-width: 768px) {
    margin-left: 30rem;
  }

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.showWrapper {
  margin-left: $margin;
  display: flex;
  width: 100%;

  h2 {
    margin-left: 2rem;
  }
}

.favorites {
  margin-left: 1rem;
}

.tvSeries {
  //min-width: 40%;
}

.search-box {
  margin-left: $margin;

  input {
    padding: 0.5rem;
  }
}

h1 {
  margin-left: $margin;
}

/* Responsive behavior */
@media (max-width: 768px) {
  .showWrapper {
    flex-direction: column;
    align-items: center;
    margin-left: 2rem;
  }

  .tvSeries, .favorites {
    min-width: 100%;
  }

  h1, .search-box {
    margin-left: 4rem;
  }

  .card {
    margin: 1rem;
  }
}

