@use "src/components/showCard";
$margin: 10rem;


.App {
  display: flex;
  flex-direction: column;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}



.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.showWrapper{
  margin-left: $margin;
  display: flex;
  width: 100%;
  h2{
    margin-left: 2rem;
  }
}
.favorites{
 // width: 30%;
 // width: 0%;
  margin-left: 2rem;
}
.tvSeries{
    min-width: 40%;
}
.search-box{
  margin-left: $margin
}
h1{
  margin-left: $margin;
}

/* Responsive behavior */
@media (max-width: 768px) { /* tablet and below */
  .showWrapper {
    flex-direction: column; /* Stack content vertically on small screens */
    align-items: center;
    margin-left: 2rem; /* Reduce margin for small screens */
  }

  .tvSeries, .favorites {
    min-width: 100%; /* Take full width on small screens */
  }

  h1, .search-box {
    margin-left: 4rem;
  }

  .card {
    margin: 1rem; /* Reduce spacing for cards on smaller screens */
  }
}

